:root {
  /* the same as Rspack/Rsbuild/Rslib */
  --rp-c-brand: #ff5e00;
  --rp-c-brand-dark: #ff704d;
  --rp-c-brand-darker: #ff704d;
  --rp-c-brand-light: #ff7524;
  --rp-c-brand-lighter: #ff7524;
  --rp-c-link: var(--rp-c-brand);
  --rp-c-brand-tint: rgba(255, 94, 0, 0.07);

  /* Storybook icon main color */
  --rp-storybook-main-color: #e85a85;

  .rp-button--brand {
    background: linear-gradient(
      90deg,
      var(--rp-storybook-main-color) 20%,
      var(--rp-c-brand-dark) 180%
    );
  }

  --rp-home-hero-title-bg: linear-gradient(
    120deg,
    var(--rp-storybook-main-color) 30%,
    var(--rp-c-brand-dark) 120%
  );
}
