name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on pull request events but only for the main branch
  pull_request:
    branches: [main, v1]

  push:
    branches: [main, v1]

  merge_group:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # ======== test ========
  test-build:
    strategy:
      matrix:
        node-version: [20.x, 22.x]
        os: [ubuntu-latest, macos-14, windows-latest]
    runs-on: ${{ matrix.os }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 10

      - name: Install Pnpm
        run: |
          npm install -g corepack@latest --force
          corepack enable

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: Install Dependencies
        run: |
          pnpm install --frozen-lockfile

      - name: Lint / Type Check / Check Dependency Version
        run: |
          pnpm lint
          pnpm check
          pnpm check-dependency-version

      - name: Test
        run: |
          pnpm test

      - name: Build sandboxes storybooks
        run: |
          pnpm run build:sandboxes
