# https://github.com/stackblitz-labs/pkg.pr.new
name: Preview Release

on:
  push:
    branches: [main]
  workflow_dispatch:
    inputs:
      ref:
        description: 'Ref to release preview'
        required: true
        default: 'main'

permissions:
  contents: read

jobs:
  preview:
    if: github.repository == 'rspack-contrib/storybook-rsbuild'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 1
          ref: ${{ github.event.inputs.ref }}

      - name: Install pnpm
        run: |
          npm install -g corepack@latest --force
          corepack enable

      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          filters: |
            changed:
              - "packages/**"
              - "pnpm-lock.yaml"

      - name: Setup Node.js
        if: steps.changes.outputs.changed == 'true' || github.event_name == 'workflow_dispatch'
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: 22
          cache: 'pnpm'

      - name: Install Dependencies
        if: steps.changes.outputs.changed == 'true' || github.event_name == 'workflow_dispatch'
        run: pnpm install

      - name: Publish Preview
        if: steps.changes.outputs.changed == 'true' || github.event_name == 'workflow_dispatch'
        run: pnpx pkg-pr-new publish --compact --pnpm ./packages/*
